package ${tableInfo.controllerPackageName};

import com.yhcoo.common.base.controller.BaseController;
import ${tableInfo.entityPackageName}.${tableInfo.className};
import ${tableInfo.servicePackageName}.${tableInfo.className}Service;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

/**
 * @author $tableInfo.authorName
 */
@RestController
@RequestMapping("/${secondModuleName}")
public class $!{tableInfo.className}Controller extends BaseController<${tableInfo.className}Service, ${tableInfo.className}, $tableInfo.pk.attrType> {
}
