package $tableInfo.mapperPackageName;

import ${tableInfo.entityPackageName}.${tableInfo.className};
import com.yhcoo.common.base.mapper.BaseMapper;



/**
 * @author $tableInfo.authorName
 */
public interface ${tableInfo.className}Mapper extends BaseMapper<$!{tableInfo.className}>{

}
