package ${tableInfo.servicePackageName};

import com.yhcoo.common.base.service.BaseService;
import $!{tableInfo.entityPackageName}.${tableInfo.className};



/**
 * @author $tableInfo.authorName
 */
public interface ${tableInfo.className}Service extends BaseService<${tableInfo.className}>{

}
